[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/teampopwork/vorbis
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/teampopwork/SDL
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/teampopwork/SDL_ttf
[submodule "external/openal"]
	path = external/openal
	url = https://github.com/teampopwork/openal-soft
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/teampopwork/ogg
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/teampopwork/miniaudio
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/teampopwork/curl.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/discordrpc"]
	path = external/discordrpc
	url = https://github.com/EclipseMenu/discord-presence
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2
