# .gitignore
*.pdb
*.ilk

.vs/
.idea/

.vscode/*
!.vscode/launch.json

build/
out/
config.cmd

game/*
!game/*.*
!game/**/

game/*.exe
game/*.dll
game/*.pdb

examples/bin/*
!examples/bin/*.*
!examples/bin/**/

examples/bin/*.exe
examples/bin/*.dll
examples/bin/*.pdb

# bass
examples/bin/bass.dll
examples/bin/libbass.so

examples/bin/screenshots/*

docs/doxygen/
imgui.ini

# tools
PopPak.exe
PopPakPWE.exe