[submodule "zlib"]
	path = source/SexyAppFramework/ImageLib/zlib
	url = https://github.com/madler/zlib.git
[submodule "ogg"]
	path = source/SexyAppFramework/SexyAppFramework/Audio/ogg
	url = https://github.com/xiph/vorbis.git
[submodule "png"]
	path = source/SexyAppFramework/ImageLib/png
	url = https://github.com/pnggroup/libpng.git
[submodule "jpeg"]
	path = source/SexyAppFramework/ImageLib/jpeg
	url = https://github.com/csparker247/jpeg-cmake